{{- $services := .Site.Data.services -}}
{{- $baseURL := .Site.BaseURL -}}

{{- $areaRefs := partial "schema/area-served.html" (dict "areas" .Site.Data.business.areaServed "baseURL" $baseURL "mode" "ref") -}}

{{- range $services.services -}}
{{- $service := dict
  "@context" "https://schema.org"
  "@type" "Service"
  "@id" (printf "%s#service-%s" $baseURL .id)
  "name" .name
  "description" .description
  "serviceType" .serviceType
  "provider" (dict "@id" (printf "%s#organization" $baseURL))
  "areaServed" $areaRefs
-}}
<script type="application/ld+json">
{{- $service | jsonify | safeJS -}}
</script>
{{- end -}}
